

h1[class] {
    color:lightcoral;
    font-size: 18px;
}

a[title] {
    text-decoration: none;
    color: blueviolet;
}


/* All anchor tag which has class value is link */
/* a[class="link"] {
    color: brown;
} */



/* All anchor tag which has class of link */

a[class~="link"] {
    color: brown;
}


/* match the ending characters */
a[href$="pdf"] {
    color: aquamarine;
}


/* match the starting characters of value */
a[href^="https"] {
    color: green;
}