* {
    font-family: 'Arial '
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-style: normal;
    font-variant: none;

    line-height: 22px;
    word-spacing: 3px;
    letter-spacing: 3px;
}

.myPara {
    text-align: justify;
}